<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistema de registro, procesado y venta de vino</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/layaut.css')}}">
</head>
<body>
    <h1>Sistema para registrar productos vitivinicolas</h1>
    <h2><p><a href="/vinos">Ver vinos</a></p></h2>
    <h2><p><a href="/proceso">Ver proceso de vino</a></p></h2>
    <h2><p><a href="/variedades_uva">Ver variedad de uvas</a></p></h2>
    <h3>De Simon Garcia - Ayelen Peña - Lucas Olguin - Valentina frias</h3><br><br>
    <h3><p><a href="/about">Sobre este proyecto</a></p></h3>

</body>
</html>
