
{% block body %}
<div class="col-md-6 offset-md-3">
  <div class="card card-body bg-dark text-white mt-5">
    <h1 class="text-center">Editar Variedad de Uva</h1>

    <form action="{{ url_for('variedad_uva.edit_variedad', id=variedad.id) }}" method="POST" enctype="multipart/form-data">
      <div class="mb-3">
        <label for="nombre">Nombre:</label>
        <input
          type="text"
          name="nombre"
          value="{{ variedad.nombre }}"
          class="form-control bg-dark text-white rounded-0"
          required
        />
      </div>

      <div class="mb-3">
        <label for="descripcion">Descripción:</label>
        <textarea
          name="descripcion"
          rows="3"
          class="form-control bg-dark text-white rounded-0"
        >{{ variedad.descripcion }}</textarea>
      </div>

      <div class="mb-3">
        <label for="color">Color:</label>
        <input
          type="text"
          name="color"
          value="{{ variedad.color }}"
          class="form-control bg-dark text-white rounded-0"
          required
        />
      </div>

      <div class="mb-3">
        <label for="region">Región:</label>
        <input
          type="text"
          name="region"
          value="{{ variedad.region }}"
          class="form-control bg-dark text-white rounded-0"
          required
        />
      </div>
      <div class="mb-3">
        <label for="ruta_foto">Foto de la Variedad:</label>
        <input
          type="file"
          name="ruta_foto"
          accept="image/*"
          class="form-control rounded-0 bg-dark border-0 text-white"
        />
      </div>

      {% if variedad.ruta_foto %}
      <div class="mb-3">
        <img src="{{ url_for('static', filename='images/variedades/' + variedad.ruta_foto) }}" alt="{{ variedad.nombre }}" width="120" class="rounded">
      </div>
      {% endif %}

      <button type="submit" class="btn btn-primary w-100">Update</button>
    </form>
  </div>
</div>
{% endblock %}